---
import Instagram from "../../public/instagram.astro";
import X from "../../public/x.astro";
---

<footer
  class="w-full mt-20 border-primary border-t-2 flex pt-6 pb-20 flex-col md:flex-row justify-center md:justify-between gap-y-10 items-center"
>
  <span class="text-center text-primary">
    © 2024 La Velada del Año <span aria-hidden="true" class="hidden md:inline">|</span>
    <br aria-hidden class="block md:hidden" /> Todos los derechos reservados
  </span>

  <ul class="flex flex-row gap-x-4 items-center">
    <li>
      <a
        href="#"
        target="_blank"
        class="text-primary inline-block hover:scale-105 transition-all hover:opacity-70"
        rel="noopener noreferrer"
        class="hover:text-primary"
      >
        <Instagram />
      </a>
    </li>
    <li>
      <a
        class="text-primary inline-block hover:scale-105 transition-all hover:opacity-70"
        target="_blank"
        rel="noopener noreferrer"
        href="#"
      >
        <X />
      </a>
    </li>
  </ul>
</footer>
