---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center">
  <span class="text-xl uppercase bg-primary text-secondary px-6 py-1 mb-9 font-medium  ">
    Presentacion de 
  </span>
  <HeroLogo id="hero-logo-header" class="text-primary w-full h-auto md:w-[650px] animate-fade-in-up " />
</section>
