---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center">
  <span class="text-xl uppercase bg-primary text-secondary px-6 py-1 mb-9 font-medium">
    Presentacion de la
  </span>
  <HeroLogo id="hero-logo-header" />
</section>
